name: Docker Image CI

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build the Docker image
      run: |
        export TAG=docker.pkg.github.com/positron96/Dockerfiles/mcu-eclipse-arm:$(date +%s)
        docker build mcu-eclipse-arm --tag $TAG
        docker push $TAG
         
      
